{{ if .Site.Params.adsense.enabled }}
{{ if .Site.Params.adsense.article_slot }}
  <div class="my-4 text-center adsense-container">
       <!-- In-Article Ad Unit -->
       <ins class="adsbygoogle"
            style="display:block; text-align:center;"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="{{ .Site.Params.adsense.client }}"
            data-ad-slot="{{ .Site.Params.adsense.article_slot }}"></ins>
       <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
       </script>
  </div>
{{ end }}
{{ end }}
